.wrapper {
   background-color: white;
   /*display: grid;
   grid-template-columns: 200px 200px 200px;
   grid-template-rows: 100px 100px 100px;*/
   display: flex;
   
  }

  .div1 {
    display: flex;
    /*grid-column: 8/20;
    grid-row: 8/20;*/
    width: 400px;
    height: 200px;
    background-color:grey;
    color: white;
    margin: 0pc;
   /* grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;*/
  }

  .div2 {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white; 
    align-self: flex-start;
    align-content: flex-start;

   /* grid-column: 2/3;
    grid-row: 1/3;*/

  }
    
  .div3 {
    width: 100px;
    height: 100px;
    /*grid-column: 2/4;
    grid-row: 2/4;*/
    background-color:black;
    color: white;    
align-self: flex-start;
  }
  
 