.wrapper {
   background-color: white;
   display: flex;
   
  }

  .div1 {
    display: flex;
    width: 400px;
    height: 200px;
    background-color:grey;
    color: white;
    flex-direction: row;
   
  }


  
  .div3 {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white; 
    flex-direction: row;
    margin-left: auto;


  }

  .mario{
    background-color:grey;
    color: white;
    align-self: flex-start;
    display: flex;
    margin: 0pc;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
   
  }

  .div2 {
    width: 100px;
    height: 100px;
    background-color:black;
    color: white;    
    align-self: flex-end;
    margin-right: auto;
  }
  

    

 